[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	forgeCommitter = group slim_xiaomi_msm8953
	push = group slim_xiaomi_msm8953
	pushMerge = group slim_xiaomi_msm8953
	label-Code-Review = -2..+2 group slim_xiaomi_msm8953
	label-Verified = -1..+1 group slim_xiaomi_msm8953
	submit = group slim_xiaomi_msm8953
